<p>home works!</p>
<h1>I am : {{name}}</h1>
<button class="btn btn-primary" (click)="callModay()">CLick Meee</button><br>&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary" (click)="greetings()">Greet</button>&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary" (click)="callTuesday()">Call Tuesday</button>&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary" (click)="callWednesday()">Call Wednesday</button>&nbsp;&nbsp;
<button class="btn btn-primary" (click)="callThursday()">Call Thursday</button>&nbsp;&nbsp;
<button class="btn btn-primary" (click)="callFriday()">Call Friday</button>&nbsp;&nbsp;
<button class="btn btn-primary" (click)="callSaturday()">Call Saturday</button>&nbsp;&nbsp;
<button class="btn btn-primary" (click)="callSunday()">Call Sunday</button>&nbsp;&nbsp;